.movieFullInfo {
  display: flex;
  padding-bottom: 20px;
  gap: 40px;
  border-bottom: 1px solid #2a363b;
}

.button {
  display: flex;
  padding: 6px 8px;
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.btnText {
  margin-left: 5px;
}

.button:hover {
  box-shadow: 1.95px 1.95px 2.6px rgb(0 0 0 / 15%);
}

.header {
  margin-bottom: 20px;
}

.paragraph {
  margin-bottom: 12px;
}

.text {
  font-weight: 600;
}

.list {
  padding: 0;
  list-style: inside;
}

.additionalInfo {
  display: grid;
  padding-bottom: 20px;
  border-bottom: 1px solid #2a363b;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
  text-decoration: underline;
}

.activeLink {
  composes: link;
  color: #2196f3;
}
